<p>Hallo {{ user.first_name }},</p>
<p>
    Zum zurücksetzen des Passworts bitte den folgenden Link
    <a href="{{ url_for('auth.reset_password', token=token, _external=True, _scheme='https') }}">
        anklicken
    </a>.
</p>
<p>Alternativ kann die folgende Adresse im Browser eingegeben werden:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True, _scheme='https') }}</p>
<p>Wenn kein Passwort-Reset gewünscht wird, bitte diese Email ignorieren.</p>
<p>Diese Email wurde von der Flugprotokoll-Anwendung verschickt.</p>



