{% extends "base.html" %}

{% block app_content %}
    <h1>Tagesberichte aktueller und voriger Monat</h1>
{% if ddata|count==0 %}
    Keine Daten!
{% else %}
    <table  class="table table-sm">
        <tr>
            <th>Datum Tagesbericht  </th>
            <th>Anzahl Piloten  </th>
            <th>Anzahl Meldungen  </th>
        </tr>
    {% for row in ddata %}
        <tr>
            <td>
               <a href="report/{{ row["day"] }} "  target="_blank">  {{ row["day"] }} </a>
            </td>
            <td>
               {{ row["pltanz"] }}
            </td>
            <td>
               {{ row["pstanz"] }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
    <h1>Tagesberichte älterer Monate</h1>
{% if mdata|count==0 %}
    Keine Daten!
{% else %}
    <table  class="table table-sm">
        <tr>
            <th>Monat</th>
            <th>Anzahl Anmeldungen</th>
        </tr>
    {% for row in mdata %}
        <tr>
            <td>
               <a href="reportlistMonat/{{ row["monat"] }} "  target="_blank">  {{ row["monat"] }} </a>
            </td>
            <td>
               {{ row["starts"] }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}

