

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {$('#datepick').timepicker({
            timeFormat: 'HH:mm',
            interval: 10,
            minTime: '10:00',
            startTime: '10:00',
            maxTime: '23:00',
            dynamic: true,
            'scrollDefault': 'now',
            dropdown: true,
            scrollbar: true
        }).css("width", "5em");
    });
  </script>

            {#defaultTime: '{{stime.strftime('%H:%M')}}',#}
